{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block titlesite %} 
    Bumblebee | Change password
{% endblock %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form method="post">{% csrf_token %}
        <div class="row">

            <div class="form-group col-md-6 mb-0">
                {{ form.old_password|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0"></div>

            <div class="form-group col-md-6 mb-0">
                {{ form.new_password1|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.new_password2|as_crispy_field }}
            </div>

        </div>
        <button type="submit" class="btn btn-danger">Change password</button>
    </form>
{% endblock %}