{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'registration/login/login.css' %}">
</head>

<body>
    <div class="login-wrap">
        <div class="login-html">
            {% if form.non_field_errors %}
                <div class="errors" style="color: red; margin-bottom: 15px;">
                    {% for error in form.non_field_errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Reset password</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
            <div class="login-form">
                <form method="post">{% csrf_token %}
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">email</label>
                            {{form.email|add_class:"input"}}

                            {% if form.email.errors %}
                                <div class="errors" style="color: red; margin-bottom: 5px; margin-top: 5px;">
                                    {% for error in form.email.errors %}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Send email">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>